<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dr.m.mapper.HumanMapper">

    <resultMap type="com.dr.m.entity.Human" id="getMap">
        <id property="id" column="id"></id>
        <id property="lastName" column="last_name"></id>
        <id property="gender" column="gender"></id>
    </resultMap>
    <select id="getHumanById" resultType="com.dr.m.entity.Human" resultMap="getMap">
        SELECT  id,last_name,gender FROM human WHERE id=#{id}
    </select>
</mapper>
